Repository harehare/textusm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, vscode, npm, cli

feat(backend): add DB connection pool config and improve server cleanup
  backend/internal/app/server/server.go
  backend/internal/config/config.go
  backend/internal/config/env.go
  backend/internal/presentation/api/api.go
Labels: none

ci: improve GitHub Actions workflows
  .github/workflows/build_and_deploy.yml
  .github/workflows/create_tag.yml
  .github/workflows/test.yml
Labels: none

build(frontend): update pnpm to 11.1.2
  frontend/.tool-versions
  frontend/package.json
  frontend/pnpm-lock.yaml
Labels: none

build(cli): remove unused deps and fix type safety
  cli/index.ts
  cli/package.json
  cli/pnpm-lock.yaml
  cli/pnpm-workspace.yaml
Labels: cli

fix(extension/vscode): fix SVG export bug, memory leak and security issues
  extension/vscode/package-lock.json
  extension/vscode/package.json
  extension/vscode/pnpm-lock.yaml
  extension/vscode/src/extension.ts
Labels: vscode

build(extension/lib): update packages and pnpm to 11.1.2
  extension/lib/package.json
  extension/lib/pnpm-lock.yaml
Labels: npm

fix(workflows): update branch name from master to main in create_tag.yml
  .github/workflows/ci.yml
  .github/workflows/create_tag.yml
Labels: none

fix(workflows): update pnpm action to use package.json for versioning
  .github/workflows/build_and_deploy.yml
  .github/workflows/ci.yml
Labels: none

fix(imports): remove duplicate uuid import in diagramitem and gistitem files
  .claude/settings.local.json
  .gitignore
  backend/internal/domain/model/diagramitem/diagramitem.go
  backend/internal/domain/model/gistitem/gistitem.go
Labels: none

feat: enhance gistitem and share services with comprehensive tests
  .claude/settings.local.json
  backend/internal/context/values/ip_test.go
  backend/internal/domain/model/gistitem/gistitem_test.go
  backend/internal/domain/model/share/share_test.go
  backend/internal/domain/service/diagramitem/service.go
  backend/internal/domain/service/diagramitem/service_test.go
  backend/internal/domain/service/gistitem/service_test.go
  backend/internal/domain/service/settings/service_test.go
  backend/internal/domain/service/user/service_test.go
  backend/internal/error/error.go
  backend/internal/error/error_test.go
  backend/internal/util/util_test.go
  frontend/pnpm-workspace.yaml
Labels: none

style(theme): refresh default color palette and card styling
  assets/img/4ls.png
  assets/img/bmc.png
  assets/img/emm.png
  assets/img/gct.png
  assets/img/imm.png
  assets/img/kanban.png
  assets/img/kbd60.png
  assets/img/kpt.png
  assets/img/mmp.png
  assets/img/opc.png
  assets/img/persona.png
  assets/img/sed.png
  assets/img/smp.png
  assets/img/ssc.png
  assets/img/table.png
  assets/img/usm.png
  cli/index.ts
  cli/js/textusm.js
  extension/lib/src/index.ts
  frontend/src/elm/Diagram/Types/Settings.elm
  frontend/src/elm/Diagram/UserStoryMap/View.elm
  frontend/src/elm/Diagram/View.elm
  frontend/src/elm/Diagram/View/Card.elm
  frontend/src/elm/Types/Color.elm
Labels: cli

fix(elm): accept "ERDiagram" as alias when parsing diagram type string
  frontend/src/elm/Diagram/Types/Type.elm
Labels: none

fix(vite): resolve elm-plugin HMR dependency paths as virtual modules
  frontend/vite.config.ts
Labels: none

fix(vite): resolve elm-plugin HMR dependency paths as virtual modules
  frontend/vite.config.ts
Labels: none

fix(frontend): repair corrupted pnpm-lock.yaml
  frontend/pnpm-lock.yaml
Labels: none

fix(elm): accept "ERDiagram" as alias when parsing diagram type string
  frontend/src/elm/Diagram/Types/Type.elm
Labels: none

style(theme): refresh default color palette and card styling
  assets/img/4ls.png
  assets/img/bmc.png
  assets/img/emm.png
  assets/img/gct.png
  assets/img/imm.png
  assets/img/kanban.png
  assets/img/kbd60.png
  assets/img/kpt.png
  assets/img/mmp.png
  assets/img/opc.png
  assets/img/persona.png
  assets/img/sed.png
  assets/img/smp.png
  assets/img/ssc.png
  assets/img/table.png
  assets/img/usm.png
  cli/index.ts
  cli/js/textusm.js
  extension/lib/src/index.ts
  frontend/src/elm/Diagram/Types/Settings.elm
  frontend/src/elm/Diagram/UserStoryMap/View.elm
  frontend/src/elm/Diagram/View.elm
  frontend/src/elm/Diagram/View/Card.elm
  frontend/src/elm/Types/Color.elm
Labels: cli

fix(elm): restore legacy default color hex aliases
  frontend/src/elm/Types/Color.elm
Labels: none

ci: run CI checks on dependabot pull requests
  .github/workflows/ci.yml
Labels: none

fix(backend): regenerate gqlgen generated.go for gqlgen v0.17.94
  backend/internal/presentation/graphql/generated.go
Labels: none

build(backend): update Go to 1.27.0 and unbreak golangci-lint
  backend/go.mod
  backend/go.sum
Labels: backend

fix(backend): resolve golangci-lint findings surfaced by the tool fix
  backend/internal/app/handler/handler.go
  backend/internal/infra/postgres/settings.go
  backend/internal/infra/sqlite/diagramitem.go
  backend/internal/infra/sqlite/gistitem.go
  backend/internal/infra/sqlite/settings.go
  backend/internal/presentation/api/middleware/ip.go
Labels: none

docs(readme): fix broken CI badge and refresh demo GIF
  README.md
  assets/img/textusm.gif
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none

.github/labeler.yml:

frontend:
  - changed-files:
      - any-glob-to-any-file: "frontend/src/*"
backend:
  - changed-files:
      - any-glob-to-any-file: "backend/*"
vscode:
  - changed-files:
      - any-glob-to-any-file: "extension/vscode/*"
npm:
  - changed-files:
      - any-glob-to-any-file: "extension/lib/*"
cli:
  - changed-files:
      - any-glob-to-any-file: "cli/*"
