Repository harehare/textusm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, vscode, npm, cli

.github/labeler.yml:

frontend:
  - changed-files:
      - any-glob-to-any-file: "frontend/src/*"
backend:
  - changed-files:
      - any-glob-to-any-file: "backend/*"
vscode:
  - changed-files:
      - any-glob-to-any-file: "extension/vscode/*"
npm:
  - changed-files:
      - any-glob-to-any-file: "extension/lib/*"
cli:
  - changed-files:
      - any-glob-to-any-file: "cli/*"

:recycle: Refactor
  frontend/src/elm/Diagram/State.elm
  frontend/src/elm/Diagram/View/Card.elm
  frontend/src/elm/Types/Item.elm
  frontend/src/elm/Types/Item/Parser.elm
  frontend/src/elm/Types/Item/Value.elm
  frontend/tests/Types/Fuzzer.elm
  frontend/tests/Types/Item/ParserTests.elm
  frontend/tests/Types/Item/ValueTests.elm
  frontend/tests/Types/ItemTests.elm
Labels: none

:white_check_mark: Add tests
  frontend/tests/Types/Item/ParserTests.elm
Labels: none

:recycle: Add parser
  frontend/benchmarks/elm.json
  frontend/benchmarks/src/Benchmarks.elm
  frontend/src/elm/Types/Property.elm
  frontend/src/elm/Types/Property/Parser.elm
  frontend/tests/Types/Property/ParserTests.elm
Labels: none

:bookmark: Update version
  frontend/package.json
Labels: none

:sparkles: Fix tokenizer
  frontend/src/ts/editor/lang.ts
Labels: none

:white_check_mark: Fix tests
  frontend/package-lock.json
  frontend/playwright.config.ts
  frontend/tests/Types/Fuzzer.elm
Labels: none

:bookmark: Update vscode extension
  extension/vscode/package.json
  extension/vscode/syntax/usm.tmLanguage.json
Labels: vscode

:green_heart: Fix workflow
  .github/workflows/create_tag.yml
  .github/workflows/deploy.yml
Labels: none

:bug: Fix bugs
  frontend/src/elm/Diagram/Types/Type.elm
  frontend/src/elm/Types/Item/Parser.elm
  frontend/src/elm/Types/Item/Value.elm
  frontend/tests/Types/Item/ParserTests.elm
Labels: none

:bug: Fix export bugs
  .tool-versions
  extension/vscode/package.json
  extension/vscode/src/extension.ts
  frontend/src/elm/View/Menu.elm
Labels: vscode

:recycle: Refactor
  frontend/src/elm/Diagram/State.elm
  frontend/src/elm/Types/Item.elm
  frontend/src/elm/Types/Text.elm
Labels: none

:construction_worker: Support skip ci
  .github/workflows/test.yml
Labels: none

:bug: Fix before unload event
  frontend/package.json
  frontend/src/ts/editor.ts
Labels: none

:bug: Fix firefox error
  frontend/src/ts/index.ts
Labels: none

:sparkles: Add firefox
  frontend/playwright.config.ts
Labels: none

Update workflow
  .github/workflows/test.yml
Labels: none

:green_heart: Fix workflow
  .github/workflows/test.yml
Labels: none

:sparkles: Add api.yaml
  backend/api.yaml
Labels: backend

:arrow_up: Update golang version to 0.1.23
  .tool-versions
Labels: none

:sparkles: Add .env.example
  frontend/.env.example
Labels: none

:hammer: Add code for development
  backend/internal/config/config.go
  backend/internal/config/env.go
  backend/internal/domain/model/item/diagramitem/diagramitem.go
  frontend/src/ts/editor.ts
  tools/fontlist/upload.js
Labels: none

:wrench: Add .env.example
  .env.example
  frontend/.env.example
Labels: none

:hammer: Add code for development
  .github/workflows/test.yml
  .gitignore
  backend/cmd/api-server/main.go
  backend/internal/config/config.go
  backend/internal/config/env.go
  frontend/package.json
  frontend/vite.config.ts
  tools/fontlist/upload.js
Labels: none

:memo: Update README.md
  README.md
Labels: none

:green_heart: Fix workflow
  .github/workflows/test.yml
Labels: none

:package: Update package-lock.json
  README.md
  frontend/package-lock.json
  frontend/package.json
Labels: none

:bookmark: Update version
  backend/go.mod
Labels: backend

:arrow_down: Add elm-tooling
  .gitignore
  frontend/elm-tooling.json
  frontend/package-lock.json
  frontend/package.json
Labels: none

:green_heart: Fix vite.config.ts
  frontend/vite.config.ts
  justfile
Labels: none

:green_heart: Fix workflow
  .github/workflows/deploy.yml
Labels: none

:bug: Fix vite.config.ts
  frontend/vite.config.ts
Labels: none

Revert ":bug: Fix vite.config.ts"
  frontend/vite.config.ts
Labels: none

Revert "Merge pull request #3752 from harehare/update_dev_doc"
  .env.example
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .gitignore
  README.md
  backend/cmd/api-server/main.go
  backend/go.mod
  backend/internal/config/config.go
  backend/internal/config/env.go
  backend/internal/domain/model/item/diagramitem/diagramitem.go
  frontend/elm-tooling.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/ts/editor.ts
  frontend/vite.config.ts
  justfile
  tools/fontlist/upload.js
Labels: backend

Reapply "Merge pull request #3752 from harehare/update_dev_doc"
  .env.example
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .gitignore
  README.md
  backend/cmd/api-server/main.go
  backend/go.mod
  backend/internal/config/config.go
  backend/internal/config/env.go
  backend/internal/domain/model/item/diagramitem/diagramitem.go
  frontend/elm-tooling.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/ts/editor.ts
  frontend/vite.config.ts
  justfile
  tools/fontlist/upload.js
Labels: backend

:rewind: Fix vite.config.ts
  frontend/vite.config.ts
Labels: none

Revert "Add development documentation"
  .env.example
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .gitignore
  README.md
  backend/cmd/api-server/main.go
  backend/go.mod
  backend/internal/config/config.go
  backend/internal/config/env.go
  backend/internal/domain/model/item/diagramitem/diagramitem.go
  frontend/elm-tooling.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/ts/editor.ts
  frontend/vite.config.ts
  justfile
  tools/fontlist/upload.js
Labels: backend

Revert "Revert "Add development documentation""
  .env.example
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .gitignore
  README.md
  backend/cmd/api-server/main.go
  backend/go.mod
  backend/internal/config/config.go
  backend/internal/config/env.go
  backend/internal/domain/model/item/diagramitem/diagramitem.go
  frontend/elm-tooling.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/ts/editor.ts
  frontend/vite.config.ts
  justfile
  tools/fontlist/upload.js
Labels: backend

:green_heart: Update Dockerfile
  backend/Dockerfile
Labels: backend

:bug: Fix vite.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Labels: none

Revert "Revert "Revert "Add development documentation"""
  .env.example
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .gitignore
  README.md
  backend/Dockerfile
  backend/cmd/api-server/main.go
  backend/go.mod
  backend/internal/config/config.go
  backend/internal/config/env.go
  backend/internal/domain/model/item/diagramitem/diagramitem.go
  frontend/elm-tooling.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/ts/editor.ts
  frontend/vite.config.ts
  justfile
  tools/fontlist/upload.js
Labels: backend
