Repository harehare/textusm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, vscode, npm, cli

:bug: Fix bugs
  backend/db/postgresql/migrations/20241012091142_create_tables.sql
  backend/internal/app/wire_gen.go
  backend/internal/db/tx.go
  backend/internal/domain/service/gistservice.go
  backend/internal/domain/service/service.go
  backend/internal/domain/service/settingsservice.go
Labels: none

:memo: Update README.md
  README.md
Labels: none

:hammer: Update dev:frontend
  frontend/package.json
Labels: none

:arrow_up: Add just to .tool-versions
  .tool-versions
Labels: none

:bug: Fix npm scripts
  frontend/package.json
Labels: none

:bug: Revoke token on sign-out
  .github/workflows/test.yml
  backend/internal/app/handler/handler.go
  backend/internal/domain/repository/user/user.go
  backend/internal/domain/service/service.go
  backend/internal/domain/service/service_test.go
  backend/internal/infra/firebase/user/user.go
  backend/internal/presentation/api/api.go
  backend/internal/presentation/api/middleware/auth.go
  frontend/src/elm/Api/Http/Token.elm
  frontend/src/elm/Effect.elm
  frontend/src/elm/Main.elm
  frontend/src/ts/auth.ts
Labels: none

:sparkles: Update cli
  cli/html.ts
  cli/index.ts
  cli/package.json
  cli/tsconfig.json
Labels: cli

:truck: Change package name from db to postgres
  backend/internal/db/postgres/db.go
  backend/internal/db/postgres/models.go
  backend/internal/db/postgres/query.sql.go
  backend/internal/infra/postgres/item/diagramitem.go
  backend/internal/infra/postgres/item/gistitem.go
  backend/internal/infra/postgres/settings/settings.go
  backend/internal/infra/postgres/share/share.go
  backend/sqlc.yaml
Labels: backend

:sparkles: Support sqlite
  backend/db/postgresql/migrations/20241012091142_create_tables.sql
  backend/db/postgresql/schema.sql
  backend/db/sqlite/migrations/20241012091142_create_tables.sql
  backend/db/sqlite/query.sql
  backend/db/sqlite/schema.sql
  backend/go.mod
  backend/go.sum
  backend/internal/app/app.go
  backend/internal/app/wire.go
  backend/internal/app/wire_gen.go
  backend/internal/config/config.go
  backend/internal/context/values/db_tx..go
  backend/internal/context/values/db_tx.go
  backend/internal/context/values/postgres_tx.go
  backend/internal/db/postgres/models.go
  backend/internal/db/sqlite/db.go
  backend/internal/db/sqlite/models.go
  backend/internal/db/sqlite/query.sql.go
  backend/internal/db/tx.go
  backend/internal/infra/postgres/item/diagramitem.go
  backend/internal/infra/postgres/item/gistitem.go
  backend/internal/infra/postgres/settings/settings.go
  backend/internal/infra/postgres/share/share.go
  backend/internal/infra/sqlite/db.go
  backend/internal/infra/sqlite/item/diagramitem.go
  backend/internal/infra/sqlite/item/gistitem.go
  backend/internal/infra/sqlite/settings/settings.go
  backend/internal/infra/sqlite/share/share.go
  backend/justfile
  backend/sqlc.yaml
Labels: backend

:white_check_mark: Add e2e tests
  .gitignore
  frontend/e2e/textusm.spec.ts
  frontend/playwright.config.ts
Labels: none

:white_check_mark: Fix e2e tests
  frontend/e2e/textusm.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/elm/Main.elm
Labels: none

:hammer: Update justfile
  .tool-versions
  backend/justfile
Labels: backend

:wrench: Update gqlgen.yml
  backend/gqlgen.yml
Labels: backend

:wrench: Update package.json
  frontend/package.json
  frontend/tsconfig.json
Labels: none

:hammer: Add go:generate directive
  backend/gqlgen.yml
  backend/internal/app/wire.go
  backend/internal/db/tx.go
  backend/internal/presentation/graphql/generated.go
  backend/internal/presentation/graphql/query.go
Labels: backend

:construction_worker: Update test.yml
  .github/workflows/test.yml
  .gitignore
  backend/db/sqlite/schema.sql
  backend/justfile
  frontend/e2e/textusm.spec.ts
  frontend/package.json
  frontend/playwright.config.ts
Labels: backend

:green_heart: Fix e2e test
  .github/workflows/test.yml
  frontend/e2e/textusm.spec.ts
  frontend/package.json
  frontend/playwright.config.ts
  lua/init.lua
Labels: none

Delete init.lua
  lua/init.lua
Labels: none

:sparkles: Add process to display images
  lua/run.lua
  lua/textusm/init.lua
Labels: none

:sparkles: Add init.lua
  lua/textusm/init.lua
Labels: none

:bug: Save diagram local when network is offline
  frontend/src/elm/Main.elm
Labels: none

:rotating_light: Fix lint warnings
  backend/internal/app/server/server.go
  backend/internal/infra/firebase/storage.go
  backend/internal/infra/postgres/item/gistitem.go
  backend/internal/infra/sqlite/item/diagramitem.go
  backend/internal/infra/sqlite/item/gistitem.go
  backend/justfile
Labels: backend

:art: Change project structure of backend
  backend/gqlgen.yml
  backend/internal/app/wire.go
  backend/internal/app/wire_gen.go
  backend/internal/domain/model/diagramitem/diagramitem.go
  backend/internal/domain/model/diagramitem/diagramitem_test.go
  backend/internal/domain/model/gistitem/gistitem.go
  backend/internal/domain/model/gistitem/gistitem_test.go
  backend/internal/domain/repository/diagramitem/diagramitem.go
  backend/internal/domain/repository/gistitem/gistitem.go
  backend/internal/domain/repository/share/share.go
  backend/internal/domain/service/diagramitem/service.go
  backend/internal/domain/service/diagramitem/service_test.go
  backend/internal/domain/service/gistitem/service.go
  backend/internal/domain/service/gistservice.go
  backend/internal/domain/service/settings/service.go
  backend/internal/domain/service/share/service.go
  backend/internal/domain/service/user/service.go
  backend/internal/infra/firebase/constants.go
  backend/internal/infra/firebase/diagramitem.go
  backend/internal/infra/firebase/gistitem.go
  backend/internal/infra/firebase/settings.go
  backend/internal/infra/firebase/share.go
  backend/internal/infra/firebase/user.go
  backend/internal/infra/postgres/diagramitem.go
  backend/internal/infra/postgres/gistitem.go
  backend/internal/infra/postgres/settings.go
  backend/internal/infra/postgres/share.go
  backend/internal/infra/sqlite/diagramitem.go
  backend/internal/infra/sqlite/gistitem.go
  backend/internal/infra/sqlite/settings.go
  backend/internal/infra/sqlite/share.go
  backend/internal/presentation/api/api.go
  backend/internal/presentation/graphql/generated.go
  backend/internal/presentation/graphql/mutation.go
  backend/internal/presentation/graphql/query.go
  backend/internal/presentation/graphql/resolver.go
Labels: backend

:memo: Update README.md
  README.md
Labels: none

:sparkles: Update golang version to 1.24.0
  .tool-versions
  backend/Dockerfile
  backend/go.mod
  backend/go.sum
  backend/justfile
Labels: backend

:sparkles: Update golang version to 1.24.0
  .tool-versions
  backend/Dockerfile
  backend/go.mod
  backend/go.sum
  backend/justfile
Labels: backend

:memo: Refactor badge images in README
  README.md
Labels: none

:bug: Fix bugs in backend
  backend/go.mod
  backend/go.sum
  backend/internal/db/postgres/db.go
  backend/internal/db/postgres/models.go
  backend/internal/db/postgres/query.sql.go
  backend/internal/db/sqlite/db.go
  backend/internal/db/sqlite/models.go
  backend/internal/db/sqlite/query.sql.go
  backend/internal/presentation/graphql/generated.go
Labels: backend

Remove cloud storage dependency and update tool versions
  .env.example
  .gitignore
  .tool-versions
  backend/go.mod
  backend/internal/domain/model/diagramitem/diagramitem.go
  backend/internal/infra/firebase/diagramitem.go
  backend/internal/infra/firebase/share.go
  backend/internal/infra/firebase/storage.go
  frontend/package-lock.json
Labels: backend

Add example environment configuration file
  .env.example
Labels: none

Update npm install command to include legacy peer dependencies and upgrade golangci-lint action version
  .github/workflows/build_and_deploy.yml
  .github/workflows/test.yml
Labels: none

Delete auto_merge.yml
  .github/workflows/auto_merge.yml
Labels: none

chore: migrate from npm to pnpm and improve codebase
  .github/workflows/branch_deploy.yml
  .github/workflows/build_and_deploy.yml
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .tool-versions
  CONTRIBUTING.md
  README.md
  backend/.golangci.yml
  backend/Dockerfile
  backend/internal/db/tx.go
  backend/internal/error/error.go
  backend/internal/presentation/api/api.go
  backend/internal/util/encryption.go
  cli/package.json
  cli/pnpm-lock.yaml
  extension/lib/package.json
  extension/lib/pnpm-lock.yaml
  extension/lib/src/index.ts
  extension/lib/src/js/elm.d.ts
  extension/lib/tsconfig.json
  extension/vscode/package.json
  extension/vscode/pnpm-lock.yaml
  extension/vscode/src/extension.ts
  extension/vscode/tsconfig.json
  extension/vscode/tslint.json
  frontend/oxlint.json
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/ts/auth.ts
  frontend/src/ts/db.ts
  frontend/src/ts/download.ts
  frontend/src/ts/editor.ts
  frontend/src/ts/editor/lang.ts
  frontend/src/ts/elm.ts
  frontend/src/ts/file.ts
  frontend/src/ts/index.ts
  frontend/src/ts/model.ts
  frontend/src/ts/settings.ts
  frontend/src/ts/utils.ts
Labels: backend, vscode, npm, cli

ci(backend): fix golangci-lint v2 config schema
  backend/.golangci.yml
Labels: backend

ci(backend): fix golangci-lint v2 exclusions and formatters format
  backend/.golangci.yml
Labels: backend

ci(backend): remove gosimple and unused linters merged into staticcheck in golangci-lint v2
  backend/.golangci.yml
Labels: backend

fix(backend): resolve all golangci-lint errors
  .claude/settings.local.json
  backend/.golangci.yml
  backend/cmd/api-server/main.go
  backend/internal/config/config.go
  backend/internal/db/tx.go
  backend/internal/domain/repository/settings/settings.go
  backend/internal/domain/service/settings/service.go
  backend/internal/infra/firebase/diagramitem.go
  backend/internal/infra/firebase/settings.go
  backend/internal/infra/firebase/user.go
  backend/internal/infra/postgres/diagramitem.go
  backend/internal/infra/postgres/gistitem.go
  backend/internal/infra/postgres/settings.go
  backend/internal/infra/sqlite/diagramitem.go
  backend/internal/infra/sqlite/gistitem.go
  backend/internal/infra/sqlite/settings.go
  backend/internal/presentation/graphql/mutation.go
  backend/internal/util/encryption.go
Labels: backend

build(backend): update Go to 1.26.2 and migrate deprecated dependencies
  backend/Dockerfile
  backend/go.mod
  backend/go.sum
  backend/internal/domain/model/diagramitem/diagramitem.go
  backend/internal/domain/model/gistitem/gistitem.go
Labels: backend

fix(backend): fix auth middleware logic and nil panic in DeleteGist
  backend/internal/app/handler/handler.go
  backend/internal/presentation/api/middleware/auth.go
  backend/internal/presentation/graphql/mutation.go
Labels: none

refactor(backend): eliminate global state in diagramitem service
  backend/internal/app/wire.go
  backend/internal/app/wire_gen.go
  backend/internal/domain/service/diagramitem/service.go
  backend/internal/domain/service/diagramitem/service_test.go
  backend/internal/domain/service/share/service.go
Labels: none

.github/labeler.yml:

frontend:
  - changed-files:
      - any-glob-to-any-file: "frontend/src/*"
backend:
  - changed-files:
      - any-glob-to-any-file: "backend/*"
vscode:
  - changed-files:
      - any-glob-to-any-file: "extension/vscode/*"
npm:
  - changed-files:
      - any-glob-to-any-file: "extension/lib/*"
cli:
  - changed-files:
      - any-glob-to-any-file: "cli/*"
