Repository harehare/textusm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, vscode, npm, cli

:green_heart: Fix job name
  .github/workflows/build_and_deploy.yml
Labels: none

:green_heart: Fix workflow
  .github/workflows/build_and_deploy.yml
Labels: none

:wheelchair: Improved key editing
  frontend/src/elm/Views/Diagram/KeyboardLayout.elm
Labels: none

:lipstick: Change svg background to transparent
  frontend/src/ts/download.ts
Labels: none

:recycle: Refactor
  frontend/src/elm/Main.elm
  frontend/src/elm/Models/Diagram/Item.elm
Labels: none

:memo: Update README.md and help
  README.md
  frontend/src/elm/Page/Help.elm
  img/kbd60.png
Labels: none

:green_heart: Remove lighthouse
  .github/workflows/build_and_deploy.yml
Labels: none

:bug: Fix did not allow 1u size margins
  frontend/src/elm/Models/Diagram/KeyboardLayout/Unit.elm
Labels: none

:package: Update vscode extension
  extension/vscode/README.md
  extension/vscode/package-lock.json
  extension/vscode/package.json
  extension/vscode/src/extension.ts
  extension/vscode/src/test/extension.test.ts
  extension/vscode/src/test/index.ts
  frontend/src/elm/Models/Diagram/KeyboardLayout/Key.elm
Labels: vscode

:package: Update npm package
  extension/lib/README.md
  extension/lib/package.json
  extension/lib/src/index.ts
  frontend/src/elm/Models/Diagram/Type.elm
Labels: npm

:package: Update cli
  cli/README.md
  cli/html.ts
  cli/index.ts
  cli/js/textusm.js
  cli/package.json
Labels: cli

:recycle: Refactor
  frontend/review/src/ReviewConfig.elm
  frontend/review/suppressed/NoInconsistentAliases.json
  frontend/review/suppressed/NoUnoptimizedRecursion.json
  frontend/review/suppressed/NoUnused.Exports.json
  frontend/review/suppressed/NoUnused.Variables.json
  frontend/review/suppressed/Simplify.json
  frontend/src/elm/Models/Diagram/KeyboardLayout.elm
  frontend/src/elm/Models/Diagram/KeyboardLayout/Key.elm
  frontend/src/elm/Models/Diagram/Type.elm
  frontend/src/elm/Views/Diagram/KeyboardLayout.elm
  frontend/tests/Models/Diagram/KeyboardLayoutTests.elm
  frontend/tests/Models/Fuzzer.elm
Labels: none

:sparkles: Supports key text wrapping
  frontend/src/elm/Models/FontSize.elm
  frontend/src/elm/Views/Diagram/KeyboardLayout.elm
Labels: none

:monocle_face: Format
  frontend/src/elm/Models/FontSize.elm
Labels: none

:sparkles: Improved keyboard layout
  frontend/package-lock.json
  frontend/package.json
  frontend/src/elm/Page/Settings.elm
  frontend/src/elm/Views/Diagram/KeyboardLayout.elm
Labels: none

:art: Format
  frontend/.prettierrc.js
  frontend/src/ts/auth.ts
Labels: none

:lipstick: Change default font size
  frontend/src/elm/Models/FontSize.elm
  frontend/src/elm/Views/Diagram/KeyboardLayout.elm
Labels: none

:arrow_up: Update golang
  .tool-versions
  backend/Dockerfile
  backend/go.mod
  frontend/package-lock.json
Labels: backend

:green_heart: Add branch_deploy.yaml
  .github/workflows/branch_deploy.yml
  .github/workflows/build_and_deploy.yml
Labels: none

:sparkles: Update cli
  cli/package.json
Labels: cli

:lipstick: Update header style
  frontend/src/elm/Views/Header.elm
Labels: none

:green_heart: Fix
  .github/workflows/test.yml
  .node-version
  .tool-versions
  frontend/package-lock.json
  frontend/package.json
Labels: none

:green_heart: Update checkout action
  .github/workflows/build_and_deploy.yml
Labels: none

:lipstick: Change the position of the menu in the list
  frontend/src/elm/Page/List.elm
Labels: none

:recycle: Refactor
  frontend/src/elm/Effect.elm
  frontend/src/elm/Effect/Diagram.elm
  frontend/src/elm/Effect/Settings.elm
  frontend/src/elm/Main.elm
Labels: none

:green_heart: Add workflow
  .github/workflows/auto_merge.yml
Labels: none

:arrow_up: Update golang
  frontend/package-lock.json
Labels: none

:green_heart: Fix workflow
  .github/workflows/branch_deploy.yml
  .github/workflows/build_and_deploy.yml
  frontend/package-lock.json
  frontend/package.json
Labels: none

:construction: wip
  frontend/src/elm/Effect/Diagram.elm
  frontend/src/elm/Main.elm
  frontend/src/elm/Models/Model.elm
  frontend/src/elm/Page/List.elm
  frontend/src/elm/Ports.elm
  frontend/src/elm/Route.elm
  frontend/src/elm/Views/Menu.elm
  frontend/src/ts/db.ts
  frontend/src/ts/elm.ts
Labels: none

:sparkles: Add copy button to list
  frontend/src/elm/Main.elm
  frontend/src/elm/Page/List.elm
  frontend/src/elm/Page/New.elm
  frontend/src/elm/Route.elm
  frontend/src/elm/Views/Menu.elm
Labels: none

:lipstick: Fix layout
  frontend/src/elm/Main.elm
  frontend/src/elm/Page/List.elm
Labels: none

:bookmark: Update version
  frontend/package.json
Labels: none

:art: Format
  frontend/src/elm/Page/New.elm
Labels: none

:green_heart: Fix workflow
  .github/workflows/branch_deploy.yml
  .github/workflows/build_and_deploy.yml
  .github/workflows/deploy.yml
Labels: none

:green_heart: Fix workflow name
  .github/workflows/deploy.yml
Labels: none

:green_heart: Fix workflow
  .github/workflows/branch_deploy.yml
  .github/workflows/deploy.yml
Labels: none

:green_heart: Fix deploy workflow
  .github/workflows/deploy.yml
Labels: none

:green_heart: Fix conditions
  .github/workflows/branch_deploy.yml
Labels: none

:green_heart: Fix workflow
  .github/workflows/branch_deploy.yml
  .github/workflows/build_and_deploy.yml
  .github/workflows/deploy.yml
Labels: none

:green_heart: Fix workflow
  .github/workflows/branch_deploy.yml
Labels: none

.github/labeler.yml:

frontend: frontend/src/*
backend: backend/*
vscode: extension/vscode/*
npm: extension/lib/*
cli: cli/*
