Repository harehare/textusm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, vscode, npm, cli

.github/labeler.yml:

frontend:
  - changed-files:
      - any-glob-to-any-file: "frontend/src/*"
backend:
  - changed-files:
      - any-glob-to-any-file: "backend/*"
vscode:
  - changed-files:
      - any-glob-to-any-file: "extension/vscode/*"
npm:
  - changed-files:
      - any-glob-to-any-file: "extension/lib/*"
cli:
  - changed-files:
      - any-glob-to-any-file: "cli/*"

:label: Add font type definitions
  backend/go.mod
  backend/go.sum
  backend/justfile
  frontend/src/elm/Api/Graphql/Selection.elm
  frontend/src/elm/Api/Http/UsableFontList.elm
  frontend/src/elm/Diagram/Types/Settings.elm
  frontend/src/elm/Diagram/View.elm
  frontend/src/elm/Diagram/View/Card.elm
  frontend/src/elm/Effect/Settings.elm
  frontend/src/elm/Main.elm
  frontend/src/elm/Page/Settings.elm
  frontend/src/elm/Style/Font.elm
  frontend/src/elm/Types/Font.elm
  frontend/src/elm/Types/Settings.elm
  frontend/src/ts/editor.ts
Labels: backend

:monocle_face: Format
  frontend/src/elm/Types/Settings.elm
Labels: none

:white_check_mark: Fix tests
  frontend/tests/Diagram/ViewTests.elm
  frontend/tests/Types/Fuzzer.elm
Labels: none

:recycle: Refactor
  frontend/e2e/textusm.spec.js
  frontend/src/elm/Attributes.elm
  frontend/src/elm/Diagram/KeyboardLayout/View.elm
  frontend/src/elm/Diagram/Types/Settings.elm
  frontend/src/elm/Diagram/View.elm
  frontend/src/elm/Diagram/View/Card.elm
  frontend/src/elm/Diagram/View/ContextMenu.elm
  frontend/src/elm/Main.elm
  frontend/src/elm/Page/List.elm
  frontend/src/elm/Page/New.elm
  frontend/src/elm/Page/Settings.elm
  frontend/src/elm/Types/FontSize.elm
  frontend/src/elm/Types/Item/Settings.elm
  frontend/src/elm/Types/Settings.elm
  frontend/src/elm/View/DropDownList.elm
  frontend/src/elm/View/Header.elm
  frontend/src/elm/View/Menu.elm
  frontend/tests/Types/Fuzzer.elm
  frontend/tests/Types/ItemTests.elm
Labels: none

:recycle: Add wire
  backend/go.mod
  backend/go.sum
  backend/internal/app/handler/handler.go
  backend/internal/app/server.go
  backend/internal/app/wire.go
  backend/internal/app/wire_gen.go
  backend/internal/config/config.go
  backend/internal/config/env.go
  backend/internal/domain/service/gistservice.go
  backend/internal/domain/service/settingsservice.go
  backend/internal/github/github.go
  backend/internal/infra/firebase/item/diagramitem.go
  backend/internal/infra/firebase/item/gistitem.go
  backend/internal/infra/firebase/settings/settings.go
  backend/internal/infra/firebase/share/share.go
  backend/internal/infra/firebase/user/user.go
  backend/internal/presentation/api/api.go
  backend/internal/presentation/graphql/resolver.go
  backend/justfile
Labels: backend

:recycle: Refactor
  backend/internal/app/app.go
  backend/internal/app/handler/handler.go
  backend/internal/app/server/server.go
  backend/internal/app/wire.go
  backend/internal/app/wire_gen.go
  backend/internal/config/config.go
  backend/internal/config/logger.go
  backend/justfile
Labels: backend

:recycle: Refactor
  backend/cmd/api-server/main.go
  backend/internal/app/app.go
  backend/internal/config/env.go
Labels: none

:bug: Fix build error
  frontend/src/elm/Extension/VSCode.elm
Labels: none

:green_heart: Add concurrency
  .github/workflows/build_and_deploy.yml
Labels: none

:arrow_up: Update vscode extension
  extension/vscode/package-lock.json
  extension/vscode/package.json
  extension/vscode/src/extension.ts
Labels: vscode

:sparkles: Add panel split direction settings
  frontend/elm.json
  frontend/src/elm/Main.elm
  frontend/src/elm/Page/Settings.elm
  frontend/src/elm/Types/Settings.elm
  frontend/src/elm/Types/SplitDirection.elm
  frontend/src/ts/model.ts
  frontend/src/ts/settings.ts
Labels: none

:sparkles: Add panel split direction to settings
  frontend/src/elm/Main.elm
  frontend/src/elm/Page/Settings.elm
  frontend/src/elm/Types/Settings.elm
  frontend/src/elm/View/SplitWindow.elm
  frontend/src/ts/settings.ts
Labels: none

:bookmark: Update version
  frontend/package-lock.json
  frontend/package.json
Labels: none

:white_check_mark: Fix tests
  frontend/src/elm/Types/Settings.elm
  frontend/tests/Types/Fuzzer.elm
Labels: none

:green_heart: Fix workflow
  .github/workflows/build_and_deploy.yml
Labels: none

:bug: Fix bugs
  frontend/src/elm/Main.elm
Labels: none

:lipstick: Change github icon
  frontend/src/elm/Main.elm
  frontend/src/elm/View/Footer.elm
Labels: none

:recycle: Refactor
  .github/workflows/build_and_deploy.yml
  .github/workflows/test.yml
  frontend/elm-constants.json
  frontend/review/suppressed/NoUnoptimizedRecursion.json
  frontend/src/elm/Page/Settings.elm
  frontend/src/elm/Style/Font.elm
  frontend/src/elm/Types.elm
  frontend/src/elm/Types/Color.elm
  frontend/src/elm/Types/Settings.elm
  frontend/src/elm/View/Footer.elm
  frontend/src/elm/View/SplitWindow.elm
Labels: none

:green_heart: Migrate from cypress to playwright
  .github/workflows/build_and_deploy.yml
  .github/workflows/test.yml
  frontend/e2e/textusm.spec.js
  frontend/e2e/textusm.spec.ts
  frontend/package.json
  frontend/playwright.config.ts
Labels: none

:white_check_mark: Add spec
  frontend/e2e/textusm.spec.ts
  frontend/src/elm/Diagram/Types/Item.elm
  frontend/src/elm/Main.elm
  frontend/src/elm/Route.elm
  frontend/src/elm/Types/Text.elm
  frontend/src/elm/Types/UrlEncodedText.elm
Labels: none

:white_check_mark: Add spec
  frontend/.gitignore
  frontend/e2e/textusm.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
Labels: none

:green_heart: Fix workflow
  .github/workflows/test.yml
  frontend/playwright.config.ts
Labels: none

:sparkles: Fix the tabsize setting in the editor
  extension/vscode/package-lock.json
  extension/vscode/package.json
  extension/vscode/src/extension.ts
Labels: vscode

:sparkles: Update vscode extension
  extension/vscode/package-lock.json
  extension/vscode/package.json
  extension/vscode/src/extension.ts
  frontend/package.json
Labels: vscode

:green_heart: Fix workflows
  .github/workflows/create_tag.yml
  frontend/src/elm/Diagram/KeyboardLayout/View.elm
  frontend/src/elm/Diagram/Search/View.elm
  frontend/src/elm/Diagram/View/TextNode.elm
  frontend/src/elm/Diagram/View/Views.elm
Labels: none

:bug: Fix bugs
  cli/index.ts
  frontend/src/elm/Diagram/Types/Type.elm
  frontend/src/elm/Diagram/View.elm
  frontend/src/ts/editor.ts
  frontend/src/ts/editor/lang.ts
Labels: cli

:bug: Fix bugs
  frontend/src/ts/editor/lang.ts
Labels: none

:bookmark: Update vscode version
  extension/vscode/package-lock.json
  extension/vscode/package.json
  extension/vscode/syntax/usm.tmLanguage.json
Labels: vscode

:hammer: Update scripts
  extension/lib/package.json
Labels: npm

:recycle: Refactor
  frontend/src/elm/Types/Item/Parser.elm
Labels: none

:sparkles: Keep spaces
  frontend/src/elm/Types/Item/Parser.elm
Labels: none

:bug: Fix bugs
  frontend/src/elm/Types/Item.elm
  frontend/src/elm/Types/Item/Parser.elm
  frontend/src/ts/editor/lang.ts
  frontend/tests/Types/Fuzzer.elm
  frontend/tests/Types/Item/ParserTests.elm
  frontend/tests/Types/ItemTests.elm
Labels: none

:sparkles: Add parser
  frontend/src/elm/Types/Item/Constants.elm
  frontend/src/elm/Types/Item/Parser.elm
  frontend/src/elm/Types/Item/Value.elm
  frontend/tests/Types/Item/ParserTests.elm
Labels: none

:fire: Delete unnecessary files
  frontend/cypress.config.js
Labels: none

:bug: Fix bugs
  cli/index.ts
  cli/js/textusm.js
  cli/package.json
Labels: cli

:white_check_mark: Add edge
  frontend/playwright.config.ts
  frontend/src/elm/Diagram/View.elm
Labels: none

:bug: Fix justfile
  justfile
Labels: none

:recycle: Fix a lots
  frontend/src/elm/Types/Item.elm
  frontend/src/elm/Types/Item/Parser.elm
  frontend/tests/Types/Item/ParserTests.elm
Labels: none

:recycle: Refactor
  frontend/src/elm/Constants.elm
  frontend/src/elm/Diagram/State.elm
  frontend/src/elm/Page/Help.elm
  frontend/src/elm/Types/FontStyle.elm
  frontend/src/elm/Types/Item.elm
  frontend/src/elm/Types/Item/Constants.elm
  frontend/src/elm/Types/Item/Parser.elm
  frontend/src/elm/Types/Item/Value.elm
  frontend/tests/Types/FontStyleTests.elm
  frontend/tests/Types/Item/ParserTests.elm
Labels: none

:white_check_mark: Fix tests
  frontend/src/elm/Types/Item/Parser.elm
  frontend/src/elm/Types/Property/Parser.elm
  frontend/tests/Types/Item/ParserTests.elm
  frontend/tests/Types/ItemTests.elm
  frontend/tests/Types/Property/ParserTests.elm
Labels: none
