Repository harehare/textusm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, vscode, npm, cli

.github/labeler.yml:

frontend: frontend/src/*
backend: backend/*
vscode: extension/vscode/*
npm: extension/lib/*
cli: cli/*

:loud_sound: Output error log in case of cache error
  backend/internal/infra/firebase/settings/settings.go
Labels: none

:green_heart: Fix workflow
  .github/workflows/build_and_deploy.yml
  .github/workflows/test.yml
Labels: none

:lipstick: Remove unnecessary styles
  frontend/src/elm/Views/Footer.elm
  frontend/src/elm/Views/Header.elm
Labels: none

:green_heart: Fix workflows
  .github/workflows/build_and_deploy.yml
  .github/workflows/test.yml
Labels: none

:green_heart: Ignore cache
  .github/workflows/build_and_deploy.yml
Labels: none

:green_heart: Fix workflow
  .github/workflows/build_and_deploy.yml
Labels: none

:lipstick: Fix style
  .gitignore
  frontend/src/elm/Views/Footer.elm
Labels: none

:bug: Fix edit bugs
  frontend/src/elm/Components/Diagram.elm
  frontend/src/elm/Extension/Lib.elm
  frontend/src/elm/Views/Diagram/ContextMenu.elm
  frontend/src/elm/Views/Diagram/Views.elm
Labels: none

:recycle: Refactor
  frontend/src/elm/Models/Diagram/Settings.elm
  frontend/src/elm/Models/Settings.elm
  frontend/src/elm/Page/List.elm
  frontend/src/elm/Page/Settings.elm
  frontend/src/elm/Route.elm
  frontend/src/elm/Style/Style.elm
  frontend/src/elm/Utils/Utils.elm
  frontend/src/elm/Views/Diagram/Canvas.elm
  frontend/src/elm/Views/Diagram/Card.elm
  frontend/src/elm/Views/Diagram/KeyboardLayout.elm
  frontend/src/elm/Views/Diagram/Line.elm
  frontend/src/elm/Views/Diagram/Table.elm
  frontend/src/elm/Views/Header.elm
Labels: none

:sparkles: Add function to lock diagram editing
  frontend/src/elm/Components/Diagram.elm
  frontend/src/elm/Main.elm
  frontend/src/elm/Models/Diagram.elm
  frontend/src/elm/Models/Diagram/Settings.elm
  frontend/src/elm/Models/Settings.elm
  frontend/src/elm/Views/Diagram/Canvas.elm
  frontend/src/elm/Views/Diagram/Card.elm
  frontend/src/elm/Views/Diagram/MindMap.elm
  frontend/src/elm/Views/Diagram/SiteMap.elm
  frontend/src/elm/Views/Diagram/UserStoryMap.elm
  frontend/src/ts/model.ts
  frontend/src/ts/settings.ts
Labels: none

:white_check_mark: Fix tests
  frontend/tests/DiagramTests.elm
  frontend/tests/Models/Fuzzer.elm
Labels: none

:sparkles: Add lock button
  frontend/src/elm/Components/Diagram.elm
  frontend/src/elm/Effect/Diagram.elm
  frontend/src/elm/Effect/Settings.elm
  frontend/src/elm/Main.elm
  frontend/src/elm/Models/Diagram.elm
  frontend/src/elm/Models/Diagram/Settings.elm
  frontend/src/elm/Views/Diagram/MindMap.elm
  frontend/src/elm/Views/Diagram/SiteMap.elm
  frontend/src/elm/Views/Diagram/UserStoryMap.elm
Labels: none

:sparkles: Add lockEditing to Settings
  backend/gqlgen.yml
  backend/graphql/schema.graphql
  backend/internal/domain/model/settings/settings.go
  backend/internal/presentation/graphql/generated.go
  backend/internal/presentation/graphql/models.go
  backend/justfile
  frontend/src/Graphql/Graphql/InputObject.elm
  frontend/src/Graphql/Graphql/Object/Settings.elm
  frontend/src/elm/Api/Graphql/Selection.elm
  frontend/src/elm/Components/Diagram.elm
  frontend/src/elm/Models/Diagram/Settings.elm
  frontend/src/elm/Models/Settings.elm
  frontend/src/elm/Views/Footer.elm
Labels: backend

:art: Format
  frontend/src/elm/Effect/Settings.elm
Labels: none

:bug: Fix error
  frontend/src/elm/Extension/Lib.elm
  frontend/src/elm/Extension/VSCode.elm
Labels: none

:bookmark: Update
  frontend/package-lock.json
  frontend/package.json
Labels: none

:bug: Fix edit bugs
  frontend/src/elm/Components/Diagram.elm
  frontend/src/elm/Models/Item/Value.elm
Labels: none

:lipstick: Change background
  frontend/src/elm/Components/Diagram.elm
  frontend/src/elm/Extension/Lib.elm
  frontend/src/elm/Models/Diagram/Settings.elm
  frontend/src/ts/download.ts
Labels: none

:lipstick: Hide background grid
  frontend/src/elm/Api/Graphql/Selection.elm
  frontend/src/elm/Components/Diagram.elm
  frontend/src/elm/Models/Diagram/Settings.elm
  frontend/src/elm/Models/Settings.elm
Labels: none

:sparkles: Add grid settings
  backend/graphql/schema.graphql
  backend/internal/domain/model/settings/settings.go
  backend/internal/presentation/graphql/generated.go
  backend/internal/presentation/graphql/models.go
  frontend/src/Graphql/Graphql/InputObject.elm
  frontend/src/Graphql/Graphql/Object/Settings.elm
  frontend/src/elm/Api/Graphql/Selection.elm
  frontend/src/elm/Effect/Diagram.elm
  frontend/src/elm/Effect/Settings.elm
  frontend/src/elm/Models/Settings.elm
  frontend/src/elm/Page/Settings.elm
Labels: none

:white_check_mark: Fix tests
  frontend/tests/DiagramTests.elm
  frontend/tests/Models/Fuzzer.elm
Labels: none

:bookmark: Update npm package
  extension/lib/README.md
  extension/lib/package.json
  frontend/src/elm/Extension/Lib.elm
Labels: npm

:bookmark: Update vscode extension
  extension/lib/package.json
  extension/vscode/package-lock.json
  extension/vscode/package.json
  extension/vscode/src/extension.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/elm/Extension/VSCode.elm
Labels: vscode, npm

:bug: Fix bugs
  extension/lib/README.md
  extension/lib/src/index.ts
  frontend/src/elm/Extension/Lib.elm
Labels: npm

:rotating_light: Fix lint warnings
  frontend/review/elm.json
  frontend/review/src/ReviewConfig.elm
  frontend/src/elm/Components/Diagram.elm
  frontend/src/elm/Dialog/Share.elm
  frontend/src/elm/Effect/Diagram.elm
  frontend/src/elm/Events.elm
  frontend/src/elm/Extension/Lib.elm
  frontend/src/elm/Main.elm
  frontend/src/elm/Message.elm
  frontend/src/elm/Models/Diagram/Item.elm
  frontend/src/elm/Models/Diagram/Settings.elm
  frontend/src/elm/Models/Title.elm
Labels: none

:bookmark: Update cli
  cli/index.ts
  cli/js/textusm.js
  cli/package.json
  cli/tsconfig.json
Labels: cli

:sparkles: Update golang from 1.21.0 to 1.22.0
  .tool-versions
  backend/Dockerfile
Labels: backend

:green_heart: Fix workflows
  .github/workflows/build_and_deploy.yml
  .github/workflows/test.yml
  justfile
Labels: none

:arrow_up: Update nodejs
  .tool-versions
Labels: none

:green_heart: Fix
  .github/workflows/build_and_deploy.yml
  frontend/package-lock.json
Labels: none

:hammer: Update npm scripts
  .github/workflows/build_and_deploy.yml
  .github/workflows/test.yml
  frontend/package.json
Labels: none

:bug: Fix import
  backend/internal/app/server.go
  backend/internal/domain/service/service.go
Labels: none

:white_check_mark: Fix tests
  frontend/tests/Diagram/KeyboardLayout/TypesTests.elm
  frontend/tests/Diagram/Types/CardSizeTests.elm
  frontend/tests/Diagram/Types/ItemTests.elm
  frontend/tests/Diagram/Types/ScaleTests.elm
  frontend/tests/Diagram/Types/TypeTests.elm
  frontend/tests/Diagram/UserStoryMap/TypesTests.elm
  frontend/tests/Diagram/ViewTests.elm
  frontend/tests/Models/Fuzzer.elm
  frontend/tests/Models/PropertyTests.elm
Labels: none

:package: Update package-lock.json
  frontend/package-lock.json
Labels: none

:arrow_up: Update go.mod
  backend/go.mod
  backend/go.sum
Labels: backend

:arrow_up: Update package.json
  frontend/package-lock.json
  frontend/package.json
Labels: none

:art: Format
  frontend/src/elm/Page/List.elm
  frontend/src/elm/Types/Item.elm
  frontend/src/elm/Views/Header.elm
  frontend/src/elm/Views/Menu.elm
Labels: none

:truck: Rename from Utils to Common
  frontend/src/elm/Diagram/BusinessModelCanvas/Types.elm
  frontend/src/elm/Diagram/BusinessModelCanvas/View.elm
  frontend/src/elm/Diagram/ER/View.elm
  frontend/src/elm/Diagram/EmpathyMap/Types.elm
  frontend/src/elm/Diagram/EmpathyMap/View.elm
  frontend/src/elm/Diagram/FourLs/Types.elm
  frontend/src/elm/Diagram/FourLs/View.elm
  frontend/src/elm/Diagram/Kpt/Types.elm
  frontend/src/elm/Diagram/Kpt/View.elm
  frontend/src/elm/Diagram/OpportunityCanvas/Types.elm
  frontend/src/elm/Diagram/OpportunityCanvas/View.elm
  frontend/src/elm/Diagram/StartStopContinue/Types.elm
  frontend/src/elm/Diagram/StartStopContinue/View.elm
  frontend/src/elm/Diagram/Types.elm
  frontend/src/elm/Diagram/UserPersona/Types.elm
  frontend/src/elm/Diagram/UserPersona/View.elm
  frontend/src/elm/Diagram/View.elm
  frontend/src/elm/Dialog/Share.elm
  frontend/src/elm/Main.elm
  frontend/src/elm/Page/List.elm
  frontend/src/elm/Utils/Common.elm
  frontend/src/elm/View/Menu.elm
Labels: none

:bug: Fix
  backend/go.mod
Labels: backend

:green_heart: Fix
  .github/workflows/test.yml
Labels: none
