Repository harehare/textusm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, vscode, npm, cli

:recycle: Improve index.html
  frontend/src/index.html
Labels: frontend

:green_heart: Change workflow_dispatch options
  .github/workflows/deploy.yml
Labels: none

:sparkles: Add fetchAllItems
  frontend/src/elm/Page/List.elm
Labels: none

:sparkles: Improved diagram export
  frontend/src/elm/Main.elm
  frontend/src/elm/Page/List.elm
Labels: none

:sparkles: Support for text in graphql items queries
  backend/internal/domain/repository/item/diagramitem.go
  backend/internal/domain/service/service.go
  backend/internal/infra/firebase/item/diagramitem.go
  frontend/package-lock.json
  frontend/src/elm/Api/Graphql/Query.elm
  frontend/src/elm/Api/Graphql/Selection.elm
  frontend/src/elm/Api/Request.elm
  frontend/src/elm/Page/List.elm
Labels: none

:bug: Fix bugs
  backend/internal/domain/service/service.go
  backend/internal/infra/firebase/item/diagramitem.go
  backend/internal/infra/firebase/storage.go
  frontend/src/elm/Api/Request.elm
  frontend/src/elm/Effect.elm
  frontend/src/elm/Effect/Diagram.elm
  frontend/src/elm/Main.elm
  frontend/src/elm/Models/Diagram/Item.elm
  frontend/src/elm/Page/List.elm
  frontend/src/ts/auth.ts
Labels: none

:wrench: Update firease.json
  firebase.json
Labels: none

:bookmark: Update version
  frontend/package-lock.json
  frontend/package.json
Labels: none

:arrow_down: Downgrade elm-format
  frontend/package-lock.json
  frontend/package.json
Labels: none

:fire: Remove fmt
  backend/internal/infra/firebase/storage.go
Labels: none

:bug: Fix bug that prevented returning to the edit screen after deleting a diagram
  frontend/src/elm/Api/Request.elm
  frontend/src/elm/Main.elm
  frontend/src/elm/Page/List.elm
  frontend/src/elm/Ports.elm
  frontend/src/ts/db.ts
  frontend/src/ts/elm.ts
Labels: none

:bug: Fix deleting objects from cloud storage
  backend/.air.toml
  backend/internal/infra/firebase/storage.go
Labels: backend

:green_heart: Execute create-tag workflow when pull requests are merged
  .github/workflows/build_and_deploy.yml
  .github/workflows/create_tag.yml
Labels: none

:green_heart: Add noop deploy trigger
  .github/workflows/branch_deploy.yml
  .github/workflows/build_and_deploy.yml
Labels: none

:recycle: Change key in settings
  frontend/package-lock.json
  frontend/src/elm/Effect/Diagram.elm
  frontend/src/elm/Effect/Settings.elm
  frontend/src/elm/Main.elm
  frontend/src/elm/Models/Settings.elm
  frontend/src/elm/Page/Embed.elm
  frontend/src/elm/Page/Settings.elm
  frontend/src/ts/model.ts
  frontend/src/ts/settings.ts
Labels: none

:lipstick: NotFound page menu changes
  frontend/src/elm/Main.elm
  frontend/src/elm/Models/Settings.elm
  frontend/src/elm/Views/Menu.elm
Labels: none

:white_check_mark: Fix test
  frontend/tests/DiagramTests.elm
Labels: none

:wrench: Update vite.config.ts
  frontend/vite.config.ts
Labels: none

:hammer: Add compose.yaml
  backend/compose.yaml
  backend/internal/infra/firebase/settings/settings.go
  frontend/package.json
Labels: backend

:sparkles: Get font list from storage
  .gitignore
  backend/internal/app/server.go
  backend/internal/domain/repository/settings/settings.go
  backend/internal/domain/service/settingsservice.go
  backend/internal/infra/firebase/settings/settings.go
  backend/internal/presentation/api/api.go
  backend/internal/presentation/api/fontlist.go
  frontend/package.json
  tools/fontlist/upload.js
Labels: none

:sparkles: Fix file name when exporting settings
  frontend/src/elm/Page/Settings.elm
  frontend/src/elm/Views/DropDownList.elm
Labels: none

:sparkles: Add assets
  README.md
  assets/fontlist/all.txt
  assets/fontlist/ja.txt
  assets/img/4ls.png
  assets/img/bmc.png
  assets/img/emm.png
  assets/img/erd.png
  assets/img/gct.png
  assets/img/imm.png
  assets/img/kanban.png
  assets/img/kbd60.png
  assets/img/kpt.png
  assets/img/mmp.png
  assets/img/opc.png
  assets/img/persona.png
  assets/img/sed.png
  assets/img/smp.png
  assets/img/ssc.png
  assets/img/table.png
  assets/img/textusm.gif
  assets/img/usm.png
  cli/README.md
  extension/lib/README.md
  extension/vscode/README.md
Labels: vscode, npm, cli

:white_check_mark: Fix test
  frontend/tests/DiagramTests.elm
Labels: none

:white_check_mark: Fix test
  backend/internal/domain/service/service_test.go
Labels: none

:recycle: Add CardSize model
  frontend/src/elm/Api/Graphql/Selection.elm
  frontend/src/elm/Components/Diagram.elm
  frontend/src/elm/Effect/Diagram.elm
  frontend/src/elm/Effect/Settings.elm
  frontend/src/elm/Main.elm
  frontend/src/elm/Models/Diagram/CardSize.elm
  frontend/src/elm/Models/Diagram/FreeForm.elm
  frontend/src/elm/Models/Diagram/ImpactMap.elm
  frontend/src/elm/Models/Diagram/Kanban.elm
  frontend/src/elm/Models/Diagram/MindMap.elm
  frontend/src/elm/Models/Diagram/Scale.elm
  frontend/src/elm/Models/Diagram/SequenceDiagram.elm
  frontend/src/elm/Models/Diagram/Settings.elm
  frontend/src/elm/Models/Diagram/SiteMap.elm
  frontend/src/elm/Models/Diagram/Table.elm
  frontend/src/elm/Models/Diagram/UserStoryMap.elm
  frontend/src/elm/Models/Settings.elm
  frontend/src/elm/Page/Settings.elm
  frontend/src/elm/Utils/Utils.elm
  frontend/src/elm/Views/Diagram/Canvas.elm
  frontend/src/elm/Views/Diagram/Card.elm
  frontend/src/elm/Views/Diagram/FreeForm.elm
  frontend/src/elm/Views/Diagram/Grid.elm
  frontend/src/elm/Views/Diagram/Kanban.elm
  frontend/src/elm/Views/Diagram/Line.elm
  frontend/src/elm/Views/Diagram/MindMap.elm
  frontend/src/elm/Views/Diagram/SequenceDiagram.elm
  frontend/src/elm/Views/Diagram/SiteMap.elm
  frontend/src/elm/Views/Diagram/Table.elm
  frontend/src/elm/Views/Diagram/TextNode.elm
  frontend/src/elm/Views/Diagram/UserStoryMap.elm
Labels: none

:art: Format
  frontend/src/elm/Effect/Settings.elm
Labels: none

:sparkles: Change format of json file for settings
  frontend/src/elm/Effect/Diagram.elm
  frontend/src/elm/Effect/Settings.elm
  frontend/src/elm/Main.elm
  frontend/src/elm/Models/Settings.elm
  frontend/src/elm/Page/Settings.elm
Labels: none

:construction_worker: Add step
  .github/workflows/build_and_deploy.yml
Labels: none

:white_check_mark: Add test
  frontend/src/elm/Models/Diagram/CardSize.elm
  frontend/tests/Models/Diagram/CardSizeTests.elm
Labels: none

:truck: Rename
  frontend/src/elm/Main.elm
  frontend/src/elm/Models/Export/Diagram.elm
  frontend/src/elm/Models/Model.elm
  frontend/src/elm/Views/Menu.elm
Labels: none

:recycle: Refactor
  backend/internal/app/server.go
Labels: none

:sparkles: Add font list cache to redis
  backend/go.mod
  backend/go.sum
  backend/internal/app/server.go
  backend/internal/infra/firebase/settings/settings.go
Labels: backend

:white_check_mark: Add tests
  frontend/src/elm/Models/Settings.elm
  frontend/tests/Models/Fuzzer.elm
  frontend/tests/Models/SettingsTests.elm
Labels: none

:recycle: Refactor
  frontend/src/elm/Api/Graphql/Selection.elm
  frontend/src/elm/Components/Diagram.elm
  frontend/src/elm/Effect/Diagram.elm
  frontend/src/elm/Effect/Settings.elm
  frontend/src/elm/Main.elm
  frontend/src/elm/Models/Color.elm
  frontend/src/elm/Models/Diagram/Id.elm
  frontend/src/elm/Models/Diagram/Settings.elm
  frontend/src/elm/Models/Settings.elm
  frontend/src/elm/Models/Text.elm
  frontend/src/elm/Models/Title.elm
  frontend/src/elm/Page/Embed.elm
  frontend/src/elm/Page/Settings.elm
  frontend/src/elm/Views/Diagram/Canvas.elm
  frontend/src/elm/Views/Diagram/ER.elm
  frontend/src/elm/Views/Diagram/GanttChart.elm
  frontend/src/elm/Views/Diagram/Grid.elm
  frontend/src/elm/Views/Diagram/Kanban.elm
  frontend/src/elm/Views/Diagram/KeyboardLayout.elm
  frontend/src/elm/Views/Diagram/Line.elm
  frontend/src/elm/Views/Diagram/MindMap.elm
  frontend/src/elm/Views/Diagram/Path.elm
  frontend/src/elm/Views/Diagram/SequenceDiagram.elm
  frontend/src/elm/Views/Diagram/SiteMap.elm
  frontend/src/elm/Views/Diagram/TextNode.elm
  frontend/src/elm/Views/Diagram/UseCaseDiagram.elm
  frontend/src/elm/Views/Diagram/UserStoryMap.elm
Labels: none

:sparkles: Add export button to settings page
  frontend/src/elm/Main.elm
  frontend/src/elm/Page/Settings.elm
Labels: none

:sparkles: Support for importing settings
  frontend/src/elm/Main.elm
  frontend/src/elm/Page/Settings.elm
Labels: none

:art: Format
  frontend/src/elm/Models/Diagram/FreeForm.elm
  frontend/src/elm/Models/Diagram/SequenceDiagram.elm
  frontend/src/elm/Models/Diagram/Table.elm
  frontend/src/elm/Ports.elm
  frontend/src/elm/Utils/Utils.elm
Labels: none

:bug: Fix redis client initialization process
  backend/internal/app/server.go
  backend/internal/infra/firebase/settings/settings.go
Labels: none

:sparkles: Add tools
  tools/fontlist/package-lock.json
  tools/fontlist/package.json
  tools/fontlist/upload.js
Labels: none

:sparkles: Add startup script
  backend/justfile
  frontend/package-lock.json
  frontend/package.json
Labels: backend

.github/labeler.yml:

frontend: frontend/src/*
backend: backend/*
vscode: extension/vscode/*
npm: extension/lib/*
cli: cli/*
