Repository harehare/textusm, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, vscode, npm, cli

:green_heart: Update workflows
  .github/workflows/test.yml
Labels: none

:sparkles: Add elm review rule
  .github/workflows/test.yml
  frontend/package.json
  frontend/review/elm.json
  frontend/review/src/ReviewConfig.elm
  frontend/review/suppressed/CognitiveComplexity.json
  frontend/review/suppressed/LimitAliasedRecordSize.json
  frontend/review/suppressed/NoMissingTypeAnnotationInLetIn.json
  frontend/review/suppressed/NoUnoptimizedRecursion.json
  frontend/review/suppressed/NoUnused.Exports.json
  frontend/review/suppressed/NoUnused.Variables.json
Labels: none

:hammer: Changed elm to install with asdf
  .github/workflows/build_and_deploy.yml
  .github/workflows/test.yml
  .tool-versions
  frontend/package.json
Labels: none

:arrow_up: Update package-lock.json
  .github/workflows/test.yml
  frontend/package-lock.json
Labels: none

:green_heart: Fix workflow
  .github/workflows/build_and_deploy.yml
  .github/workflows/test.yml
  frontend/package-lock.json
  frontend/package.json
Labels: none

:bug: Fixed a lot
  .github/workflows/build_and_deploy.yml
  .github/workflows/test.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Labels: none

:truck: Change extension from js to json
  frontend/.prettierrc.js
  frontend/.prettierrc.json
  frontend/.stylelintrc.js
  frontend/.stylelintrc.json
  frontend/cypress.config.js
  frontend/tsconfig.json
Labels: none

:arrow_up: Update package.json
  frontend/package-lock.json
  frontend/package.json
Labels: none

:hammer: Add justfile
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
  justfile
Labels: none

:white_check_mark: Add e2e test
  frontend/e2e/textusm.spec.js
  frontend/src/elm/View/DropDownList.elm
  frontend/src/elm/View/Header.elm
Labels: none

:green_heart: Disabled cache
  .github/workflows/build_and_deploy.yml
  .github/workflows/test.yml
Labels: none

:green_heart: Change action used for e2e tests
  .github/workflows/test.yml
Labels: none

:green_heart: Add working-directory
  .github/workflows/test.yml
Labels: none

:green_heart: Add env
  .github/workflows/test.yml
Labels: none

:rotating_light: Update eslint rules
  .github/workflows/test.yml
  frontend/package.json
  frontend/src/ts/auth.ts
  frontend/src/ts/db.ts
  frontend/src/ts/download.ts
  frontend/src/ts/editor.ts
  frontend/src/ts/editor/lang.ts
  frontend/src/ts/file.ts
  frontend/src/ts/index.ts
Labels: none

:fire: Delete unnecessary comments and steps
  .github/workflows/test.yml
  frontend/src/ts/download.ts
Labels: none

:bug: Fix bug that environment variables were not loaded in the local environment
  frontend/package-lock.json
  frontend/src/elm/Main.elm
  frontend/src/elm/Types.elm
  frontend/vite.config.ts
Labels: none

:wrench: Update vite.config.ts
  frontend/vite.config.ts
Labels: none

:heavy_minus_sign: Remove vite-plugin-environment
  frontend/package.json
  frontend/src/ts/index.ts
Labels: none

:recycle: Refactor
  backend/go.mod
  backend/go.sum
  backend/internal/domain/model/share/share.go
  backend/internal/domain/model/share/share_test.go
  backend/internal/domain/service/service.go
  backend/internal/domain/service/service_test.go
  backend/internal/infra/firebase/settings/settings.go
  backend/internal/presentation/api/api.go
Labels: backend

:bug: Fix a lot
  backend/internal/app/server.go
  backend/internal/infra/firebase/settings/settings.go
  frontend/package.json
  frontend/vite.config.ts
  justfile
Labels: none

:bug: Fix a lot
  frontend/package-lock.json
  frontend/package.json
  frontend/src/ts/editor.ts
  frontend/vite.config.ts
Labels: none

:green_heart: Add tag to branch inputs
  .github/workflows/deploy.yml
Labels: none

:bug: Fix default settings
  frontend/package.json
  frontend/src/elm/Types/Settings.elm
  frontend/src/ts/editor.ts
  frontend/vite.config.ts
Labels: none

:green_heart: Update workflows
  .github/workflows/branch_deploy.yml
  .github/workflows/build_and_deploy.yml
  .github/workflows/create_tag.yml
  .github/workflows/test.yml
Labels: none

:green_heart: Add actions/setup-go
  .github/workflows/test.yml
Labels: none

:green_heart: Add actions/setup-go
  .github/workflows/test.yml
Labels: none

:recycle: Refactor
  frontend/src/elm/Main.elm
  frontend/src/elm/Page/Settings.elm
  frontend/src/elm/Types.elm
  frontend/src/elm/Types/Settings.elm
Labels: none

:recycle: Refactor
  frontend/src/elm/Diagram/Lens.elm
  frontend/src/elm/Diagram/Types.elm
  frontend/src/elm/Diagram/Types/Item.elm
  frontend/src/elm/Main.elm
  frontend/src/elm/Types.elm
  frontend/src/elm/Types/Settings.elm
  frontend/src/index.html
Labels: frontend

.github/labeler.yml:

frontend: frontend/src/*
backend: backend/*
vscode: extension/vscode/*
npm: extension/lib/*
cli: cli/*
